:root {
    --nav-bar-height: 50px;
    --menu-item-width: 120px;
}

@font-face {
    font-family: quicksand;
    src: url(./Quicksand-VariableFont_wght.ttf)
}

html {
    font-family: quicksand;
}

body {
    margin: 0px;
}

.header {
    background-color: rgba(0, 255, 255, 0.438);
    justify-content: space-around;
    display: flex;
    height: var(--nav-bar-height);
    width: 100vw;
}

.navbar {
    display: flex;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-item-width);
    position: relative; 
}

.drop-container {
    display: none;
    position: absolute;
    top: var(--nav-bar-height);
    width: var(--menu-item-width);
    background-color: rgba(0, 255, 255, 0.438);
    animation: slide-down 0.25s ease-in-out forwards; 
    z-index: -1;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.drop-container-visible {
    display: flex;
    flex-direction: column;
}

.drop-container * {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-container *:hover, .menu-item:hover  {
    background-color: rgba(0, 255, 255, 0.671);
    cursor:pointer;
}